@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    You can make content appear !
</h1>
<h2>
    Just click below, on a phrase with display <b>if you're a human</b>
</h2>
<h3 captcha captcha-trigger-type="Auto" captcha-value="Afficher les informations de contact" placeholder-class="btn btn-default">
    <h1 class="btn btn-danger">wow magic !</h1>
</h3>
<h3 captcha captcha-trigger-type="Button" captcha-value="Afficher les informations de contact" placeholder-class="row text-center">
    <h1 class="btn btn-danger">wow magic !</h1>
</h3>