@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    You can make content appear !
</h1>
<h2>
    Just click below, on a phrase with display <b>if you're a human</b>
</h2>
<h3 captcha captcha-trigger-type="Button" captcha-value="Afficher les informations de contact">
    wow magic !
</h3>
<div captcha captcha-trigger-type="Button" captcha-value="Afficher les informations de contact">
    This content was hidden behind a reCaptcha
</div>
<div captcha captcha-trigger-type="Button" captcha-value="Afficher les informations de contact">
    And we can have multiple ones, in a single page!
</div>
<div captcha captcha-trigger-type="Button" captcha-value="Afficher les informations de contact">
    Crazy, uh ?
</div>